@font-face {
  font-family: 'eurofurence';
  src: url('../fonts/Eurofurencelight.woff2') format('woff2'),
  url('../fonts/Eurofurencelight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'eurofurence';
  src: url('../fonts/Eurofurenceregular.woff2') format('woff2'),
  url('../fonts/Eurofurenceregular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'eurofurence';
  src: url('../fonts/Eurofurencelightitalic.woff2') format('woff2'),
  url('../fonts/Eurofurencelightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'eurofurence';
  src: url('../fonts/Eurofurenceitalic.woff2') format('woff2'),
  url('../fonts/Eurofurenceitalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'eurofurence';
  src: url('../fonts/Eurofurencebolditalic.woff2') format('woff2'),
  url('../fonts/Eurofurencebolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'eurofurence';
  src: url('../fonts/Eurofurencebold.woff2') format('woff2'),
  url('../fonts/Eurofurencebold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nickainley Normal';
  src: url('../fonts/Nickainley-Normal.woff2') format('woff2'),
  url('../fonts/Nickainley-Normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}





html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'eurofurence';
  font-style: normal;
}
/* GENERAL CLASS */

.padding-right-left {
  padding-left: 4rem;
  padding-right: 4rem;
}

.padding-top-bottom {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.title-section {
  font-weight: 500;
  margin-bottom: 0;
  font-size: 2.5rem;
  color: #231F20;
  text-align: center;
  font-family: 'Nickainley Normal';
}

.separator {
  height: 1.5rem;
  margin-bottom: 1rem;
}

.box-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nickainley Normal';
}
/* HEADER */

header {
  position: absolute; 
  z-index: 99;
  width: 100%;
}
.navbar-custom {
  width: 100%;
  position: fixed;
  transition: 1s;
}
.navbar-custom.navbar-fixed{
  background: #fff !important;
  transition: 1s;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25)
}
.navbar-custom.navbar-fixed .link-navbar{
  color: #000000 !important;
}
.navbar-custom.navbar-fixed .link-navbar:hover{
  color: #ff8c95 !important;
}
.navbar-custom.navbar-fixed .navbar-toggler i{
  color: #000;
}
.navbar-brand .logo-black{
  display: none;
}
.navbar-brand .logo-white{
  display: block;
  transition: 1s;
}
.navbar-brand .logo-black.visible{
  display: block;
  transition: 1s;
}
.navbar-brand .logo-white.no-visible{
  display:  none;
}
.navbar-light .navbar-brand{
  width: 120px;
}
.navbar-light .navbar-brand img{
  width: 100%;
}
.navbar-toggler{
  border: none;
}
.navbar-toggler i{
  color: #fff;
  font-size: 1.5rem;
}
.option-navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.link-navbar {
  color: #ffffff!important;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 1rem!important;
  font-size: 1.3rem;
}
.link-navbar:hover{
  color: #231F20 !important;
  transition:.5s;
}
.banner-home {
  height: 105vh;
  overflow: hidden;
  background-image: url('../img/bg-2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bg-banner {
  width: 100%;
  height: 105vh;
  background-image: url('../img/bg-3.svg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-banner {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: 500;
  z-index: 3;
}

.subtitle-banner p{
  font-size: 1rem;
  line-height: 1.8rem;
  color: #eee;
  font-weight: 600;
  letter-spacing: 1px;
}

.particle-1, .particle-2, .particle-3, .particle-4, .particle-7{
  position: absolute;
}

.particle-1 {
  width: 6rem;
  right: 48%;
  transform: translateY(25rem);
}

.particle-2 {
  width: 4rem;
  right: 9%;
  transform: translateY(36rem);

}
.particle-3 {
  opacity: .2;
  transform: translateY(14rem);
  right: -3%;
}
.particle-7 {
  width: 10rem;
  transform: translateY(9rem);
  left: 14%;
  z-index: -1;
  opacity: .3;
}
.particle-4 {
  width: 5rem;
  opacity: .2;
  left: 30%;
  transform: translateY(39rem);
}
#parallax-bg-8 {
  left: 50%;
  transform: translateY(17rem);
  width: 4rem;
  opacity: .3;
}
#parallax-bg-12 {
  transform: translateY(9rem);
  right: 49%;
  width: 5rem;
}

.img-banner {
  position: absolute;
  z-index: -1;
  width: 53%;
  right: 0;
  background-size: cover;
  height: 99%;
  background-position: bottom;
  
}

.mask-banner {
  height: 100%;
  background: linear-gradient(to bottom, #00000061 -50%, transparent);
  width: 100%;
}

/* SERVICES */

.services {
  position: relative;
  overflow: hidden;
}

.col-1-services {
  padding-top: 4rem;
}

.col-2-services {
  display: flex;
  align-items: center;
}

.item-service {
  padding: 1.5rem;
  box-shadow: 3px 7px 20px 9px #00000014;
  border-radius: 1rem;
  margin: 2rem .5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 335px;
}

.icon-service {
  width: 5rem;
  background-color: #f1f1f1;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -2.5rem;
}

.icon-service img {
  width: 3rem;
  object-fit: contain;
}

.title-service, .description-service {
  margin-bottom: 0;
  text-align: center;
  font-size: 1.2rem;
  color: #8f8f8f;
} 

.title-service {
  font-size: 1.4rem;
  padding: 1rem 0;
  font-weight: 500;
  color: #231F20;
  font-family: 'Nickainley Normal';
}

.title-service {
  padding-top:  1rem ;
}

.description-service p {
  font-size: 1.2rem;
  /* line-height: 1.5rem; */
  text-align: center;
  color: #565656;
}

.box-about {
  padding-left: 2rem;
}

.particle-3 {
  opacity: .1;
  transform:translateY(14rem);
  right: -3%;
}

.particle-4 {
  width: 5rem;
  opacity: .2;
  right: 41%;
  transform: translateY(39rem);
}

/* PROJECT */

.products .padding-top-bottom {
  padding-top: 0;
}

.controls{
  color: #eee;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 3px 7px 20px 5px #0000001c;
  margin-bottom: 2rem;
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

.filter.active {
  background-color: #ffd5d5; 
}

.filter:hover{
  background-color: #ffd5d5; 
  transition: .5s;
}

.filter{
  display: inline-block;
  border: 0;
  transition: .5s;
  color: #565656;
  font-weight: 600;
  cursor: pointer;
  padding: .5rem 1rem;
  background-color: transparent;
}

.filter:focus{
  outline: 0 none;
}

.filter + label{
  margin-left: 1em;
}

.box-products{
  text-align: justify;
  font-size: 0.1px;  
  -webkit-backface-visibility: hidden;
  display: flex;
  flex-wrap: wrap;
}

.box-products:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.box-products .mix,
.box-products .gap{
  display: inline-block;
  width: 17.5rem;
}

.box-products .mix{
  text-align: left;
  background: #e8e8e8;
  margin: .8rem;
  margin-bottom: 3rem;
  display: none;
  border-radius: 1rem;
  height: 20rem;
  overflow: hidden;
  box-shadow: 3px 7px 20px 5px #0000001c;
  position: relative;
}

.img-product {
  height: 72%;
  border-top-left-radius: 1rem;
  background-size: cover;
  background-position: center;
  position: absolute;
  border-top-right-radius: 1rem;
  width: 100%;
}

.body-product {
  background-image: url('../img/product.svg');
  position: absolute;
  right: -1px;
  left: -2px;
  background-size: cover;
  height: 42%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  flex-direction: column;
}
.body-product a{
  z-index: 4;
}
.title-product {
  font-size: 1.5rem;
  font-weight: 500;
  color: #231F20;
  padding-top: 1rem;
  text-align: center;
}

.btn-product {
  font-size: 1.1rem;
  color: #ff8c95;
  font-weight: 600;
}

.btn-product:hover{
  color: #565656;
  transition: .5s;
}

.btn-product i {

}

.btn-product:hover i {
  transform: translateX(5px);
  transition: .2s;
}

.particle-5 {
  width: 2rem;
  position: absolute;
  z-index: 3;
  bottom: 86px;
  right: 16px;
}

.particle-6 {
  width: 6rem;
  position: absolute;
  opacity: 0.1;
  z-index: 3;
  bottom: 7px;
  left: -38px;
}

/* @media all and (min-width: 420px){
  .box-products .mix,
  .box-products .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .box-products .mix,
  .box-products .gap{
    width: 23%;
    } */

    /* FOOTER */

    .footer-landing {
      background-image: url('../img/footer-light.svg');
      background-repeat: no-repeat;
      /* background-color: #ff8c95; */
      padding-top: .6rem;
    }

    .footer-landing .padding-top-bottom {
      padding-top: 8rem;
    }

    .footer-landing  .title-section {
      text-align: initial;
      margin-bottom: 1rem;
      color: #fff;
    } 

    .container-footer {
      background-image: url('../img/footer.svg'); 
      background-size: cover;
    }

    .footer-landing a {
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
    }

    .icon-contact {
      color: #E91E63;
      width: 3rem;
      font-size: 1.5rem;
      background-color: aliceblue;
      border-radius: 50%;
      height: 3rem;
      display: flex;
      align-items: center;
      transition: .5s;
      margin-right: .5rem;
      justify-content: center;
    }

    .icon-contact:hover {
      color: #565656;
      transition: .5s;
    }

    .contact-us li, .follow-us li {
      display: flex;
      align-items: center;
      color: #565656;
      line-height: 2rem;
    }

    .contact-us i {
      color: #fff;
      font-size: 1.4rem;
    }

    .contact-us a:hover {
      color: #ff3545;
      transition: .5s;
    }

    .col-contact {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ubicacion-footer{
      display: flex;
      padding-left: 20px;
      align-items: center;
    }
    .ubicacion-footer i{
      color: #e91e63;
      font-size: 20px
    }

    .ubicacion-footer p{
      font-size: 18px;
      color: #fff;
      margin-left: 10px;
      font-weight: 500;
      margin-bottom: 0;
    }

    /*SCROLLBAR*/
    ::-webkit-scrollbar
    {
      width: 6px;  /* for vertical scrollbars */
      height: 6px; /* for horizontal scrollbars */
    }

    ::-webkit-scrollbar-track
    {
      background: rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-thumb
    {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
    }
    .col-redes{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    @media screen and (min-width: 0px) and (max-width: 767px) {
      .content-single__text{
        padding: 0 20px;
      }
      .producto-single{
        margin-top: -10rem;
      }
      html {
        font-size: 15px;
      }

      .banner-home, .bg-banner{
        height: 100vh;
      }


      .padding-right-left {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      /* SERVICES */
      .col-2-services {
        order: -1;
      }

      .service-last {
        margin-bottom: 0;
      }

      .box-about {
        padding-left: 0;
      }

      /* PRODUCTS */
      .box-products {

        justify-content: center;    
      }
      /* FOOTER */
      .col-contact {
        order: -1;
      }
      #eapps-instagram-feed-1 {
        width: 100%!important;
      }

      .footer-landing .padding-top-bottom {
        padding-top: 4rem;
      }

      .feed-instagram {
        margin-top: .5rem;
        
      }
      .widget-instagram{
        width: 100% !important;
      }

      .footer-landing .title-section {
        text-align: center;
      }

      .contact-us li, .follow-us li  {
        justify-content: center;
      }
      .controls .nav{
        justify-content: center;
        flex-direction: column;
        width: 100%;
        flex-wrap: initial;
      }
      .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:nth-child(1),
      .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover:nth-child(1) {
        border-radius: 15px 15px 0 0 !important;
      }
      .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:last-child, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover:last-child{
        border-radius: 0 0 15px 15px !important;
      }
      .content-producto{
        justify-content: center;
      }
      .ubicacion-footer{
        justify-content: center;
        padding: 0;
      }
      .producto-single{
        display: flex !important;
        flex-direction: column-reverse;
      }
      .prev{
        left: 0!important;
      }
      .next{
        right: 0!important;
      }
      #myModal .modal-content, #myModal1 .modal-content, #myModal2 .modal-content{
        width: 60% !important;
      }
      #myModal .modal-content .close, #myModal1 .modal-content .close, #myModal2 .modal-content .close{
        right: -4rem !important;
      }
      .category{
        margin: 10px 0 !important;
        width: 100% !important;
      }
      .controls{
        width: 100%;
      }
      .controls nav{
        width: 100%;
      }
      .item-service{
        width: 300px !important;
      }
      .banner-single{
        height: 65vh !important;
      }
      .single-text__title p{
        font-size: 1.6rem;
      }

    }

    @media screen and (min-width: 768px) and (max-width: 991px) {

      /* SERVICES */ 

      .col-2-services {
        order: -1;
      }

      /* PRODUCTS */
      .box-products {
        justify-content: center;
      }

      /* FOOTER */

      #eapps-instagram-feed-1 {
        width: 100%!important;
      }
    }

    .img-banner{
      background-position: left;
      width: 63%;
    }

    .box-services{
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
    }

    .banner-single{
      background: url('../img/banner-product.svg');
      height: 55vh;
      width: 100%;
      transform: translate(0px, -2px);
    }

    .banner-single__content{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .banner-single__content p{
      font-size: 2.5rem;
      color: #fff;
      margin: 0;
      font-family: 'Nickainley Normal';
    }

    .banner-single__content img{
      width: 10rem;
    }

    .producto-single{
      display: grid;
      grid-template-columns:50% 50%;
    }

    .single-slider__img{
      height: 50vh;
      display: flex !important;
      justify-content: center;
      padding: 0 50px;
      cursor: pointer;
    }

    .single-slider__img img{
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .content-single__text{
      padding: 0 50px;
    }

    .single-text__title{
      text-align: center;
    }
    .single-text__title p{
      font-size: 2rem;
      margin: 0;
      font-family: 'Nickainley Normal';
    }

    .content-single__slider .slick-prev:before, .content-single__slider .slick-next:before{
      font-family: 'FontAwesome';
      color: #ff8c95;
      font-size: 35px;

    }

    .content-single__slider .slick-prev:before {
      content: "\f053";
    }

    .content-single__slider .slick-next:before {
      content: "\f054";
    }

    .content-single__slider .slick-next{
      right: 0;
      z-index: 3 !important;
    }

    .content-single__slider .slick-prev{
      left: 0;
      z-index: 3 !important;
    }

    .single-text__categoria{
      display: flex;
      color: #ff3a48;
      font-size: 1.2rem;
    }

    .single-text__categoria ul{
      list-style: none;
      padding-left: 10px;

    }

    .single-text__categoria ul a{
      color: #ff3a48;
      pointer-events: none;
    }

    .single-text__categoria ul a:hover{
      text-decoration: none;
    }

    .category{
      width: 260px;
      height: 330px;
      position: relative;
      margin: 20px;
      overflow: hidden;
    }

    .content-producto{
      display: flex;
      flex-wrap: wrap;
    }

    .nav-tabs{
      border: none;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
      border:none;
      color: #301f20;
      font-size: 1.2rem;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
      background: #ffd5d5;
      color: #301f20;
      border: none;
      border-radius: 0;

    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:nth-child(1),
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover:nth-child(1) {
     border-radius: 15px 0 0 15px;
   }
   .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:last-child, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover:last-child{
     border-radius: 0 15px 15px 0;
   }
   .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    background: #ffd5d5;
    border-radius: 0;
  }
  .content-producto a:hover{
    text-decoration: none;
  }
  
  .single-text__texto{
    font-size: 1.2rem;
  }


  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }

  /* The Close Button */
  #videoModal .close {
    color: white;
    position: absolute;
    top: -20px !important;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  .mySlides, .mySlides1, .mySlides2 {
    display: none;
    height: 500px;
  }
  .mySlides img, .mySlides1 img,.mySlides2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .cursor {
    cursor: pointer;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 35rem;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white !important;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0px !important;
    user-select: none;
    -webkit-user-select: none;
    /* background-color: rgba(0, 0, 0, 0.8); */
  }

  /* Position the "next button" to the right */
  .next {
    right: 15rem;
    border-radius: 3px 0 0 3px;
  }
  .prev{
    left: 15rem;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  img {
    margin-bottom: -4px;
  }

  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }

  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

  img.hover-shadow {
    transition: 0.3s;
  }

  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #myModal .modal-content, #myModal1 .modal-content,#myModal2 .modal-content{
    width: 45%;
    background-color: transparent;
    border: none;
  }

  #myModal .modal-content .close, #myModal1 .modal-content .close, #myModal2 .modal-content .close{
    color: white;
    position: absolute;
    top: 0rem;
    right: -23rem;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.5) !important;
    padding: 5px !important;
    opacity: 1;
  }

  #myModal, #myModal1, #myModal2{
    background-color: rgba(0, 0, 0, 0.9)
  }

  .main-details__slick--items, .main-details__slick--img{
    height: 100%
  }

  .pie-footer{
    padding: 16px;
    text-align: center;
  }

  .pie-footer p{
    font-size: 15px;
    font-weight: 500;
    margin: 0;
  }
  .pie-footer p a{
    color: #0f0606;
    font-weight: 700;
    font-size: inherit;
  }

  .pie-footer p a:hover{
    color: #ff3545
  }

  .content-single__slider .slick-dots li{
    margin: 0 4px
  }

  .float-ws i {
    font-size: 2.5rem;
    position: fixed;
    bottom: 1rem;
    color: #ffffff;
    right: 1rem;
    z-index: 99999;
    border-radius: 50%;
    background-color: #ff8c95;
    transition: .5s;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .float-ws i:hover {
    background-color: #ff3545;
    transition: .5s;
  }